body {
    font-family: sans-serif;
}

#head {
    color: bisque;
}

#clock {
    font-weight: bold;
    font-size: 4rem;
}

.form-control {
    width: 100px;
}

#start, #stop  {
    width: 150px;
}